<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8ETJZK09R"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8ETJZK09R');
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="BTN Advisory - executive advice, leadership training and AI workflows to deliver your business goals">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}BTN Advisory{{ else }}{{ .Title }} - BTN Advisory{{ end }}</title>
    {{ $css := resources.Get "main.css" }}
    {{ $css = $css | css.PostCSS }}
    {{ $css = $css | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>
<body class="min-h-screen flex flex-col">
    {{ partial "header.html" . }}
    <main class="flex-grow pt-16">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</body>
</html>